bin/Bin/*
!bin/Bin/KRKALfs.cfg
!bin/Bin/KrkalC.syn
!bin/Bin/zlib.dll
bin/Compiler/Bin/*.dll
bin/Compiler/Code/*.code
bin/Compiler/CppSource/*
!bin/Compiler/CppSource/Krkal.KS*
!bin/Compiler/Shared
bin/Compiler/Data/*.data
bin/Install/RootCache.data
bin/Profiles/*
!bin/Profiles/AllUsers
bin/Profiles/AllUsers/Configuration/MainConfiguration.data
bin/Translations/**/TranslationsCache
src/**/obj/
src/KRKAL 3.0.ncb
src/**/Debug/
src/**/*.user
src/ipch/
src/_UpgradeReport_Files/
src/KRKAL 3.0.sdf
src/**/Release/
/src/KRKAL 3.0.opensdf
/src/KRKAL 3.0.v12.suo
src/KRKAL 3.0.startup.suo
src/KRKAL 3.0.suo
