<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Krkal.Compiler.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;D:\Projects\Krkal 3.0\src\Krkal.Compiler\Krkal.Compiler.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1032" Action="None" />
    <Rule Id="CA1303" Action="None" />
  </Rules>
</RuleSet>